*{
    box-sizing: border-box;
}
body{
    font-family: Montserrat !important;

}
.hero-section{
    background: #0B8D09;
    padding-bottom: 100px;
}
.navbar-brand{
    margin-top: 71px;
    padding-left: 3rem;
}
.hero-text{
    margin-top: 100px;
}
.left {
    padding-left: 3rem !important;
}

.hero-text h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #FCFCFC;   
}
.hero-text p{
    font-family: Montserrat;
    padding-top: 29px;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #FCFCFC;

}
.md-form{
    margin-top: 51px !important;
}
.md-form input{
   height: 59px !important;
   color: white !important;
   width: 482px !important; 
}
.sub-btn{
    width: 258px !important;
    height: 64px;
    background: #FCFCFC !important;
    box-shadow: none !important;
    font-family: Montserrat !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 32px  !important;
    color: #0B8D09 !important;
}
.col-left{
    padding-left: 3rem !important;
}
.col-right-text{
    padding-right: 3rem !important;
}
.section_two{
    padding-top: 56px;
}
.section_two h5{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
color: #0A46BF;


}

.section_two p{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
/* or 120% */
padding-top: 50px;

color: #0A46BF;
}
.section_two .row{
    padding-top: 51.5px;
}