*{
    box-sizing: border-box;
}
body{
    font-family: Montserrat !important;

}
.hero-section{
    background: #031840;
    padding-bottom: 100px;
}
.navbar-brand{
    margin-top: 71px;
    padding-left: 3rem;
}
.hero-text{
    margin-top: 100px;
}
.left {
    padding-left: 3rem !important;
}

.hero-text h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #FCFCFC;   
}
.hero-text p{
    font-family: Montserrat;
    padding-top: 29px;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #FCFCFC;

}
.md-form{
    margin-top: 51px !important;
}
.md-form input{
   height: 59px !important;
   color: white !important;
   width: 482px !important; 
}
.sub-btn{
    width: 258px !important;
    height: 64px;
    background: #FCFCFC !important;
    box-shadow: none !important;
    font-family: Montserrat !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 32px  !important;
    color: #031840 !important;
}
.col-left{
    padding-left: 3rem !important;
}
.col-right-text{
    padding-right: 3rem !important;
}
.section_two{
    padding-top: 56px;
}
.section_two h5{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
color:   #031840;


}

.section_two p{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
/* or 120% */
padding-top: 50px;

color:  #031840;
}
.section_two .row{
    padding-top: 51.5px;
}
.section_three{
    padding-top: 26px;
    padding-bottom: 70px;
}
.section_three .row{
    padding-top: 48px;
}
.section_three h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    
    color: #031840;    
}
.section_three p{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 140%;
/* or 28px */


color: #031840;

}
.section-four{
    background: #031840;
    padding-top: 200px;
   
}
.section-four .sneak-peek{
    padding-top: 100px;
}
.section-four .col-3 .icon{
    background: #29B526;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px !important;
    width: 72px;
    height: 52px;
    border-radius: 8px;   
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto !important;
}
.col-3{
    max-width: 22%;
}

.section-four h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;    
    text-align: center;
}
.section-four .text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}
.section-four span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.section-four p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 140%;
   color: #FFFFFF;
   padding-right: 5px;    
   padding-top: 17px;
}
.sneak-peek .col-sm-6{
    margin: auto !important;
   -webkit-animation-duration: 2s !important;
    
}
.section-four .row{
 padding-bottom: 30px;
}