@media screen and (max-width: 576px){
    .md-form input{
        width: 100% !important;
    }
}
@media screen and  ( max-width: 995px){
    .section-four .col-2 .icon{
        width: 100% !important;
        background: blueviolet;
    }
    .section-four .col-2 .icon img{
        width: 50% !important;
    }
    .section-four p{
        padding-right: 0px !important;
    }
}