@media screen and (max-width: 576px){
    .md-form input{
        width: 100% !important;
    }
}
@media screen and  ( max-width: 995px){
    .section-four .col-2 .icon{
        width: 100% !important;
        background: blueviolet;
    }
    .section-four .col-2 .icon img{
        width: 50% !important;
    }
    .section-four p{
        padding-right: 0px !important;
    }
}
@media screen and (max-width: 768px){
    .horizontal{
        display: none;
    }
    .col-md-3{
   
        padding-top: 20px;
        padding-bottom: 20px !important;
    }
    .col-md-3 img.img-fluid{
        margin-left: 25% !important;

    }
 
}
@media only screen and (max-width: 576px){
    .hero-text h5{
        font-weight: 400;
        font-size: 35px;
        line-height: 120%;
        color: #FCFCFC;   
        
    }
    .left{
        padding-left: 2rem !important;
    }
    .col-md-3 img.img-fluid{
        margin-left: 25% !important;

    }
}
@media  screen and (max-width: 530px){
    .col-md-3 img.img-fluid{
        margin-left: 20% !important;

    }
}
@media screen and (max-width: 438px){
    .col-md-3 img.img-fluid{
        margin-left: 15% !important;

    }
}
@media only screen and (max-width: 400px){
    .col-md-3 img.img-fluid{
        margin-left: 8% !important;

    }
}
@media screen and (max-width: 324px){
    .col-md-3 img.img-fluid{
        margin-left:  3% !important;

    }
}